<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="/assets/style.css" rel="stylesheet" />
    <title>Documents</title>
  </head>
  <body>
    <h1><a href="/">Documents</a></h1>
    <section class="nes-container with-title">
      <h3 class="title">Search</h3>
      <form>
        <div class="nes-field is-inline">
          <label for="inline_field">Query</label>
          <input type="text" name="q" class="nes-input" placeholder="title:*" value={{.Query}}>
          <button type="submit" class="nes-btn is-primary">Search</button>
        </div>
      </form>
    </section>
    <div class="nes-table-responsive">
      <table class="nes-table is-bordered is-centered">
        <thead>
          <tr>
            <th>UUID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Modified</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Hits}}
          <tr>
            <td><a href="/document/{{.UUID}}">{{.UUID}}</a></td>
            <td>{{.Title}}</td>
            <td>{{.Type}}</td>
            <td>{{.Modified}}</td>
            <td><a href="/?q=%22{{.UUID}}%22">Search</a></td>
          </tr>
          {{else}}
          <tr>
            <td colspan="4">No hits</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </body>
</html>
