@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp {
    font-family: "Roboto";
}

h1, h2, h3, button {
    font-family: "Press Start 2P";
}

body {
    padding: 1rem;
}

section.nes-container, section.topic {
    margin-bottom: 2.5rem;
}

#content-section.hide-data .data {
    display: none;
}

.content-tuple {
    display: flex;
    flex-wrap: nowrap;
}

.content-tuple.has-rendered pre.data {
    /* color: #666; */
}

.content-tuple .rendered, .rendered h1 {
    flex-basis: 30rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Roboto', sans-serif;
}

pre {
    font-family: "Fira Code";
    white-space: pre-wrap;
}

.content-tuple pre.data {
    margin-left: 1rem;
}

.rendered h1 {
    font-size: 2rem;
    font-weight: bold;
}

.rendered span.dateline {
    background-color: #411cb5;
    color: #fff;
    padding: 0.5rem;
    diplay: inline-block;
    margin-bottom: 1rem; 
}

.rendered blockquote {
    padding: 1rem;
    border-left: 2px solid #666;
}

.rendered p.ingress {
    font-size: 1.2rem;
    font-weight: bold;
}

.rendered figure img {
    width: 100%;
}

.rendered figure figcaption {
    font-style: italic;
}

.rendered figure {
    margin-bottom: 2rem;
}
