<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style>
      html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }

      body {
          padding: 1rem;
      }
    </style>
  </head>
  <body>
    <h1 id="documents"><a href="/">#</a> Documents</h1>
    <section class="topic">
      <h2 class="title">Error</h2>
      <p>{{.Error}}</p>
    </section>
  </body>
</html>
