name: Lint code

on:
  push:

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.4'
          cache: false # Let golangcilint handle caching
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v1.59
          args: --timeout=4m
